.DS_Store
.eslintcache
.cache
.project
.settings
.env
.env.example
.idea
.npmrc

*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

config.codekit3
prepros-6.config

/node_modules/*
/vendor/*
/storage/*
/bin
!/storage/.gitkeep
/web/mix-manifest.json
/web/uploads/
/web/assets/
/web/dist/*
/web/assets/*
/web/cpresources/
/web/enupalsnapshot
/web/imager/
/web/fonts
/web/images
